/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


* {
  
}
body{
  padding: 0px;
  margin: 0px;

}
header{
  background-color: blue;
  padding: 10px 50px;
  height: 500px;
}
nav{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
 color: white;
 padding: 10px ;
 align-items: center;
}
.nav-item{
 font-size: 20px;
 margin-right: 50px;
}
.nav-item-active{
  background-color: white;
  color: black;
  border: 0px solid;
  border-radius:10px ;
  width: 70px;
  align-items: center;
  padding: 8px 10px;

}
.logo{
  height: 40px ;
  color: white;
}
.header-text{
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.header-image{
  position: absolute;
  right: 0px;
  top: 100px;
  
}

.companies{
  font-size: 25px;
  color:black;
  margin-top: 30px;
  margin-left: 50px;
  text-decoration: none;

}
.company-items{
  padding-left: 35px;
  font-weight: 900px;
  font-family: cursive;
}



a:link{
  text-decoration: none;
  color: black;
  gap: 50px;
}

.api-heading{
  font-size: 50px;
  margin-left: 40px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.blog-heading{
  font-size: 20px;
  font-weight: 900px;
  margin-left: 50px;
}

.blog-cards{
  display: flex;
  justify-content:center;
  flex-direction: row;
  /* height: 200px; */
}
.blog-card{
  display: flex;
  
}


.blog-content{
  font-size: 20px;
  background-color: aliceblue;
  height: 300px;   
  padding-left: 40px;
}
/* .blog-image{
  height: 500px;
} */
h6{
  color: rgb(0, 132, 255);
  font-size: 20px;
}
.blog-bottom{
  position: absolute;
  top: 1400px;
  /* left: 100px; */
}
.blog-card-bottom-image{
  position: absolute;
  left: 300px;
}
.blog-author{
  margin-top: 320px;
  position: relative;
  right: 50px;
}

/* FAQ- SECTION */

.faq-section{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  margin-top: 80px;


}
.faq-content{
  font-size: 15px;
  margin-left: 50px;
  
}
h2{
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
  font-size: 20px;
  font-family: cursive;

}
button1{
  background-color: rgb(0, 132, 255);
  /* border-radius: 20px; */
  border: 0px;
  padding: 10px 20px;
  color: white;
}
.faq-image{
  height: 325px;
}
.download-section{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  margin: 100px 100px;
  margin-top: 80px;
  font-size: 20px;

}
/* .download-email{
  background-color: aliceblue;
  
  font-size: 20px;
} */
button{
  background-color: rgb(0, 132, 255);
  border-radius: 20px;
  border: 0px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;

}
form{
     font-size: 20px;
}

/* footer section */

.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 47, 255);
  /* padding-top: 50px; */
}
.footer-left{
  
  padding-bottom: 100px;
  
}
.footer-logo{
  margin-top: 30px;
  margin-left: 70px;
}
.list{
  display: flex;
  flex-direction: row;
  /* item-decoration: none; */
  gap: 30px;
  color: white;
  margin-top: 30px;
  

}
.footer-right{
  align-items: center;
}
.logos-list{
  display: flex;
  flex-direction: row;
  color: white;
  gap: 30px;
  /* margin-right: 100px; */
  margin-bottom: 80px;
  padding-left: 100px;
}
